
<div class="py-5 border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <p class="author text-center">Pamela Eisenbaum</p>
        <p class="email text-center"><a href="mailto:peisenbaum@iliff.edu">peisenbaum@iliff.edu</a></p>
      </div>
      <div class="col-sm">
        <p class="author text-center">Micah D. Saxton</p>
        <p class="email text-center"><a href="mailto:msaxton@iliff.edu">msaxton@iliff.edu</a></p>
      </div>
      <div class="col-sm">
        <p class="author text-center">Theodore Vial</p>
        <p class="email text-center"><a href="mailto:tvial@iliff.edu">tvial@iliff.edu</a></p>
      </div>
    </div>
  </div>
</div>

