<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    {%- if page.title == "Home" -%}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
      </div>
    </div>
    {%- endif -%}

    

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
